.element {
  background-color: rgb(241, 241, 241);
  display: flex;
  justify-content: center;
  margin-right: 50px;
  margin-left: 50px;
  margin-top: 60px;
  padding: 70px;
  border-radius: 12px;
  border: 3px solid rgb(109, 108, 108);
}

body {
  font-family: 'Roboto Condensed', sans-serif;
  background-color: #2b2b2b;
}

h1,
p {
  color: rgb red;
}


.survey-form {
  background-color: rgb(241, 241, 241);
  display: flex;
  justify-content: center;
  margin-right: 50px;
  margin-left: 50px;
  margin-top: 40px;
  padding: 20px;
  border-radius: 12px;
  border: 3px solid rgb(109, 108, 108);
}


.main-titel {
  background-color: rgb(241, 241, 241);
  display: flex;
  justify-content: center;
  margin-right: 50px;
  margin-left: 50px;
  margin-top: 40px;
  padding: 20px;
  border-radius: 12px;
  border: 3px solid rgb(109, 108, 108);
}


textarea {
  border-radius: 4px;
  border: 1px lightgray solid;
}