.element {
  background-color :rgb(163, 157, 157);
  display: flex;
  justify-content: center;
  margin-right: 50px;
  margin-left: 50px;
  padding: 100px;
  border-radius: 12px;
  border: 3px solid red;
  }

body {
  
  background-color: #2b2b2b;
}

h1,
p {
  color: red;
}